.clienti > .mode {
  display: flex;
  height: var(--mobile-btn-height);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.clienti > .mode > a {
  text-align: center;
  width: 50%;
  line-height: 3.9;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color-1);
  background-color: var(--bg-color-2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.clienti > .mode > a:nth-of-type(1) {
  border-left: none;
}

.clienti > .mode > a:hover {
  color: var(--text-color-0);
  background-color: var(--bg-color-1);
}

.clienti > .mode a.selected {
  color: var(--text-color-0);
  background-color: var(--bg-color-0);
}

.clienti > .mode a.selected:hover {
  color: var(--text-color-0);
  background-color: var(--bg-color-0);
}
